@font-face {
    src: url(../assets/EBGaramond-VariableFont_wght.ttf);
    font-family: Garamond;
}

h2 {
    font-family: Garamond;
    pointer-events: none;
}

.card-wrapper {
    width: 30%;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
}

.card-board {
    pointer-events: none;
}