h2 {
    pointer-events: none;
}

.card-wrapper {
    width: 30%;
    height: 25vh;
    background-color: #ecdab9;
    margin-bottom: 0.625rem;
    padding: 0.3125rem;
}

@media (min-width: 640px) {
    .card-wrapper {
        height: auto;
    }
}

.card-board {
    pointer-events: none;
}