html {
    scroll-behavior: smooth;
}

body {
    font-family: Baskerville;
    background-color: black;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 3vw;
    margin-top: 0.25rem;
    margin-bottom: 0;
    color: #000000;
}

@media (min-width: 640px) {
    h2 {
        font-size: 1.5rem;
    }
}

p {
    color: white;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    font-family: Baskerville;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    color: white;
    background-color: #c5a076;
    border: 0px solid white;
    padding: 0.3125rem 0.5rem;
}

table {
    text-transform: uppercase;
    font-weight: 100;
    color: #c5a076;
    font-size: 1.5rem;
    padding: 0.3125rem;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}